html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Manrope&family=Merriweather:wght@700&family=Mukta:wght@400;500&family=Raleway&display=swap');


:root {
    --primary-default: #0C104F;
    --primary-alt: #0C104F;
}

/* Defaults font-styles */
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button {
    font-family: 'Inter', sans-serif;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 3;
    transition: all .6s ease-in-out;
}

.addColor {
    background-color: var(--primary-default);
    backdrop-filter: blur(25px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.addColor li a {
    color: white;
    border-color: #fff;
    transition: all .6s ease-in-out;
}

nav {
    height: 100%;
    width: 100%;
}

.logo {
    width: 40%;
}

.brand-logo {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 40px;
    height: 100%;
}

.brand-logo img {
    float: right;
    width: 100%;
}

.nav-content {
    width: 90%;
    margin: 0 auto;
}

header nav ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

.loginBtn {
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    padding: 7px 20px;
}

.login-btn-item {
    margin-left: auto;
}

.bi-justify-right {
    display: none;
    padding: 10px;
    font-size: 30px;
    margin-right: 20px;
    border-radius: 5px;
}

@media (max-width: 540px) {
    .bi-justify-right {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .nav-responsive {
        position: absolute;
        transition: all .4s ease-in-out;
        width: 100%;
        left: 0;
        background: var(--primary-default);
        display: block !important;
        top: 60px;
        padding: 10px;
        opacity: 0;
        z-index: -999;
    }

    .nav-responsive li {
        margin-bottom: 10px;
        padding: 10px 0;
    }

    .features-content {
        grid-template-columns: auto !important;
        width: 100% !important;
    }

    .features-item {
        width: 100%;
    }

    .pricing-content {
        grid-template-columns: auto !important;
    }

    .price-card {
        width: auto;
    }

    .pricing-header h2 {
        font-size: 26px !important;
    }

    .pricing-header p {
        width: 100% !important;
    }
}

/* Hero Section */
#hero {
    height: 100vh;
    width: 100%;
    /* background: url(../img/594-man-telescope-floydworx_4x.webp) no-repeat;
    background-size: cover;
    background-position: top; */
    background: linear-gradient(to left, white 50%, var(--primary-default) 30%);
}

.body-content {
    width: 100%;
    padding: 0 3rem;
}

#hero .body-content {
    height: 100%;
    display: flex;
    align-items: center;
}

#hero .body-content .text-content {
    position: relative;
    width: 100%;
}

.hero-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero-content img {
    width: 80%;
}

#hero .body-content .text-content p {
    font-size: 50px;
    font-weight: normal;
    color: white;
    margin-bottom: 30px;
}

#hero .body-content .text-content a {
    padding: 13px 25px;
    font-weight: bold;
    border-radius: 50px;
    background: white;
    text-decoration: none;
    color: var(--primary-default);
}

@media (max-width: 1024px) {
    #hero .body-content .text-content p {
        font-size: 24px !important;
        width: 100%;
    }

    .features .features-content .features-item {
        width: 300px;
        padding: 10px;
    }

    .pricing-content {
        display: grid !important;
        grid-template-columns: auto auto;
        grid-gap: 1rem;
        height: auto !important;
        width: 100% !important;
    }

    .price-card {
        width: 400px !important;
    }
}

@media (max-width: 820px) {
    .hero {
        background: linear-gradient(to bottom, var(--primary-default) 50%, white 30%) !important;
        height: 100vh !important;
    }

    .hero-content {
        display: block !important;
    }

    .hero-content .btn-dark {
        background: var(--primary-default);
        color: white;
    }

    .features .body-content {
        width: 100% !important;
    }

    .loginBtn {
        color: white;
        border-color: white;
    }

    .features-content {
        position: relative;
        grid-gap: 10px;
        width: 100% !important;
    }

    .features-item {
        width: 100% !important;
    }

    .features-item p {
        font-size: 16px !important;
        width: 100% !important;
    }

    .pricing-content {
        display: grid !important;
        grid-template-columns: auto auto;
    }

    .price-card {
        width: 100% !important; 
    }

    #analysis .content {
        width: 100% !important;
    }    

    .features {
        padding: 1rem 0;
    }
}

/* Features Section */
.features {
    padding: 4rem 0;
}

.features .body-content {
    width: auto !important;
}

.features-content {
    display: grid;
    grid-template-columns: auto auto auto;
}

.features-item {
    width: 100%;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.features h3 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.features-item h4 {
    font-size: 19px;
}

.features p {
    width: 70%;
    font-size: 16px;
}

.pricing {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow:column ;
    background-color: #f5f5f5;
    padding-top: 2rem;
}

.investment-plans {
    text-align: center;
    position: relative;
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: 800;
}

.investment-plans:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: #171735;
}

.pricing-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.price-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20%;
    margin: 20px;
    transition: all 0.3s ease;
    padding-bottom: 20px;
}

.price-card h1 {
    background: var(--primary-default);
    color: white;
    font-size: 20px;
    text-align: center;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.pricing-header h3 {
    text-transform: uppercase;
    font-size: 21px;
}

.pricing-header h1 {
    text-transform: capitalize;
    font-weight: bold;
}

.pricing-header p {
    font-size: 19px;
    width: 40%;
    text-align: center;
}

.price-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.price-card .price {
    font-size: 26px;
    font-weight: bold;
    color: #171735;
    padding: 2rem 0;
    display: inline-block;
    border-bottom: 3px solid #000;
    margin-bottom: 20px;
    width: 70%;
}

.price-card .price sup {
    font-weight: 400;
}

.price-card .duration {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
}

.price-card .features {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.price-card .features li {
    margin-bottom: 10px;
    color: #171735;
    position: relative;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-card .features li:before {
    content: "\2714";
    position: relative;
    color: #171735;
}

.price-card .cta-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #171735;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.price-card .cta-button:hover {
    background-color: #171735;
    color: #fff;
}

/* Analysis Section */
#analysis {
    height: auto;
    padding: 1rem 0;
    background: url(../img/o-STAR-QUOTES-GPS-GUIDE-facebook.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

#analysis h4,
#analysis p,
#analysis ul {
    color: white;
    position: relative;
    z-index: 4;
}

#analysis::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* add a semi-transparent black background */
}

#analysis .body-content {
    padding-top: 5rem;
    height: 100%;
}

#analysis .content {
    width: 25%;
}

#analysis .content h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 30px;
}

#analysis .content p {
    font-size: 30px;
}

#analysis .content ul {
    font-size: 15px;
    list-style-type: none;
    padding: 0;
}

@media (max-width: 912px) {
    #analysis .content {
        width: 40%;
    }

    #analysis {
        height: auto;
        padding-bottom: 2rem;
    }

    #analysis .content p {
        font-size: 21px;
    }
}

@media (max-width: 415px) {
    #analysis .content {
        width: 100%;
    }

    #analysis {
        height: auto;
        padding-bottom: 2rem;
    }

    #analysis .content p {
        font-size: 16px;
    }
}

/* CSS styles for the mini footer section */
.mini-footer {
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
    height: 100px;
    color: #333333;
}

.mini-footer ul {
    list-style: none;
    padding: 0;
    height: 80%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-footer ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 17px;
}

.mini-footer ul li a {
    color: #333333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.mini-footer ul li a:hover {
    color: #888888;
}

/* CSS styles for the cool copyright section */
.cool-copyright {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
}

.cool-copyright a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.cool-copyright a:hover {
    color: #888888;
}

/* Responsive styles */
@media (max-width: 767px) {
    .mini-footer {
        font-size: 12px;
    }
}

/* Auth Page */
.overlay,
.form-panel.one:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.form {
    z-index: 15;
    position: relative;
    background: #FFFFFF;
    width: 40%;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 6% auto;
    overflow: hidden;
}

.form-toggle {
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 60px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform-origin: center;
    transform: translate(0, -25%) scale(0);
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-toggle:before,
.form-toggle:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    background: #4285F4;
    transform: translate(-50%, -50%);
}

.form-toggle:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.form-toggle:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.form-toggle.visible {
    transform: translate(0, -25%) scale(1);
    opacity: 1;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}

.form-group:last-child {
    margin: 0;
}

.form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.two .form-group label {
    color: #FFFFFF;
}

.form-group input {
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: all .5s ease-in-out;
}

.form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
}

.two .form-group input {
    color: #FFFFFF;
}

.two .form-group input:focus {
    color: #FFFFFF;
}

.form-group button {
    outline: none;
    background: var(--primary-default);
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.two .form-group button {
    background: var(--primary-default);
    color: white;
}

.form-group .form-remember {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}

.form-group .form-remember input[type=checkbox] {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
}

.form-group .form-recovery {
    font-size: 12px;
    color: #0C104F;
    text-decoration: none;
}

.form-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
}

.form-panel.one:before {
    content: "";
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.form-panel.one.hidden:before {
    display: block;
    opacity: 1;
    visibility: visible;
}

.form-panel.two {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 95%;
    background: var(--primary-default);
    width: 100%;
    min-height: 100%;
    padding: 60px calc(10% + 60px) 60px 60px;
    transition: 0.3s ease;
    cursor: pointer;
}

.form-panel.two:before,
.form-panel.two:after {
    content: "";
    display: block;
    position: absolute;
    top: 60px;
    left: 1.5%;
    background: rgba(255, 255, 255, 0.2);
    height: 30px;
    width: 2px;
    transition: 0.3s ease;
}

.form-panel.two:after {
    left: 3%;
}

.form-panel.two:hover {
    left: 93%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-panel.two:hover:before,
.form-panel.two:hover:after {
    opacity: 0;
}

.form-panel.two.active {
    left: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.form-panel.two.active:before,
.form-panel.two.active:after {
    opacity: 0;
}

.form-header {
    margin: 0 0 40px;
}

.form-header h1 {
    padding: 4px 0;
    color: var(--primary-default);
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.two .form-header h1 {
    position: relative;
    z-index: 40;
    color: #FFFFFF;
}

@media (max-width: 1330px) {
    .hero-content .text-content p {
        font-size: 35px !important;    
    }

    #analysis {
        height: auto;
        width: 100%;
        padding-bottom: 1rem;
    }

    #analysis p {
        width: 100% !important;
    }

    #analysis .content {
        width: 50%;
    }
}

@media (max-width: 912px) {
    .form {
        width: 80%;
    }
}

@media (max-width: 570px) {
    .form {
        width: 95%;
    }
}

.header {
    background-color: #171735;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 48px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content {
    margin-top: 30px;
    line-height: 1.6;
}

.content h2 {
    font-size: 32px;
    color: #171735;
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 20px;
}

.content .highlight {
    color: #171735;
    font-weight: bold;
}

.content .quote {
    font-style: italic;
    color: #888;
    text-align: center;
    margin-top: 40px;
}

.footer {
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer p {
    margin: 0;
}

.footer-block {
    flex-basis: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.footer-block ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-block ul li {
    margin-bottom: 5px;
}

.footer-block ul li a {
    color: var(--primary-default);
    text-decoration: none;
}

.footer-block.social-media {
    text-align: right;
}

.footer-block.social-media a {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .footer-block {
        flex-basis: 25%;
        margin-bottom: 0;
    }

    .footer-block.social-media {
        text-align: left;
    }
}